body {
    background: #f2f2f2;
    font-family: "Tahoma", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 30px 0;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-bottom: 40px;
}

.card {
    background: #fff;
    width: 90%;
    max-width: 400px;
    padding: 15px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    border-radius: 15px;
}

.card h2 {
    margin: 12px 0 5px;
    font-size: 22px;
}

.price {
    font-size: 18px;
    color: #555;
    margin-bottom: 5px;
}