body {
    font-family: sans-serif;
    background: #f6f6f6;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 30px;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h2 {
    margin: 10px 0 0 0;
    font-size: 22px;
    font-weight: bold;
}

.price {
    font-size: 18px;
    color: #444;
    margin-top: 5px;
}
