body {
  background: #fff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* شعار */
.store-logo {
  font-weight: 300;
  text-align: center;
  font-size: 28px;
  margin: 25px 0;
  letter-spacing: 3px;
}

/* شبكة المنتجات */
.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 10px;
}

/* بطاقة المنتج */
.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  padding: 10px;
  text-align: center;
  transition: 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
}

/* صورة المنتج */
.product-img {
  width: 100%;
  border-radius: 10px;
}

/* اسم المنتج */
.product-title {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px;
}

/* السعر */
.product-price {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

/* زر شراء */
.buy-btn {
  display: block;
  background: black;
  color: white;
  padding: 8px 0;
  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
}
.store-description {
  text-align: center;
  font-size: 15px;
  color: #444;
  line-height: 1.8;
  max-width: 500px;
  margin: 10px auto 30px;
}
/* زر واتساب */
.whatsapp-btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25D366;
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}
